<div class="booking-details">
    <h2>Journey Details</h2>
    <form>
      <div>
        <label for="pickup">Pickup Address</label>
        <input type="text" id="pickup" name="pickup" placeholder="Address, airport, hotel..." />
      </div>
  
      <div>
        <label for="dropoff">Dropoff Address</label>
        <input type="text" id="dropoff" name="dropoff" placeholder="Address, airport, hotel..." />
      </div>
  
      <div>
        <label for="date">Select Date</label>
        <input type="date" id="date" name="date" />
      </div>
  
      <div>
        <label for="time">Select Time</label>
        <input type="time" id="time" name="time" />
      </div>
  
      <div>
        <label for="trip-type">Trip Type</label>
        <input type="radio" id="one-way" name="tripType" value="one-way" checked> One Way
        <input type="radio" id="airport-pickup" name="tripType" value="airport-pickup"> Airport Pickup
        <input type="radio" id="hourly" name="tripType" value="hourly"> Hourly
      </div>
    </form>
  </div>
  