<div class="passenger-details">
    <h2>Passenger Details</h2>
    <form>
      <div>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" />
      </div>
  
      <div>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" />
      </div>
  
      <div>
        <label for="mobileNumber">Mobile Number</label>
        <input type="tel" id="mobileNumber" name="mobileNumber" />
      </div>
  
      <div>
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" />
      </div>
  
      <div>
        <label for="passengers">Passengers</label>
        <select id="passengers" name="passengers">
          <option value="adults">Adults</option>
          <option value="children">Children</option>
        </select>
      </div>
  
      <div>
        <label for="luggage">Luggage</label>
        <input type="checkbox" id="bigLuggage" name="luggage" value="big"> Big Luggage
        <input type="checkbox" id="smallLuggage" name="luggage" value="small"> Small Luggage
      </div>
  
      <div>
        <label for="childSeat">Child Seat</label>
        <button type="button" id="childSeat">Select</button>
      </div>
    </form>
  </div>
  